{% load static %}

<!--begin::Portlet-->
<div class='k-portlet k-portlet--height-fluid k-widget '>
  <div class='k-portlet__body'>
    <div id='k-widget-slider-13-1' class='k-slider carousel slide' data-ride='carousel' data-interval='8000'>
      <div class='k-slider__head'>
        <div class='k-slider__label'>Announcements</div>
        <div class='k-slider__nav'>
          <a class='k-slider__nav-prev carousel-control-prev' href='#k-widget-slider-13-1' role='button' data-slide='prev'>
            <i class='fa fa-angle-left'></i>
          </a>
          <a class='k-slider__nav-next carousel-control-next' href='#k-widget-slider-13-1' role='button' data-slide='next'>
            <i class='fa fa-angle-right'></i>
          </a>
        </div>
      </div>
      <div class='carousel-inner'>
        <div class='carousel-item active k-slider__body'>
          <div class='k-widget-13'>
            <div class='k-widget-13__body'>
              <a class='k-widget-13__title' href='#'>Sample Announcement Title</a>
              <div class='k-widget-13__desc'>
                To start a blog, think of a topic about and first brainstorm party is ways to write details
              </div>
            </div>
            <div class='k-widget-13__foot'>
              <div class='k-widget-13__label'>
                <div class='btn btn-sm btn-label btn-bold'>
                  07 OCT, 2018
                </div>
              </div>
              <div class='k-widget-13__toolbar'>
                <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>View</a>
              </div>
            </div>
          </div>
        </div>
        <div class='carousel-item k-slider__body'>
          <div class='k-widget-13'>
            <div class='k-widget-13__body'>
              <a class='k-widget-13__title' href='#'>Incredibly Positive Reviews</a>
              <div class='k-widget-13__desc'>
                To start a blog, think of a topic about and first brainstorm party is ways to write details
              </div>
            </div>
            <div class='k-widget-13__foot'>
              <div class='k-widget-13__title'>
                <div class='btn btn-sm btn-label btn-bold'>
                  17 NOV, 2018
                </div>
              </div>
              <div class='k-widget-13__toolbar'>
                <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>View</a>
              </div>
            </div>
          </div>
        </div>
        <div class='carousel-item k-slider__body'>
          <div class='k-widget-13'>
            <div class='k-widget-13__body'>
              <a class='k-widget-13__title' href='#'>Award Winning Theme</a>
              <div class='k-widget-13__desc'>
                To start a blog, think of a topic about and first brainstorm party is ways to write details
              </div>
            </div>
            <div class='k-widget-13__foot'>
              <div class='k-widget-13__label'>
                <div class='btn btn-sm btn-label btn-bold'>
                  03 SEP, 2018
                </div>
              </div>
              <div class='k-widget-13__toolbar'>
                <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end::Portlet-->
