{% load static %}

<!--begin::Portlet-->
<div class='k-portlet k-portlet--height-fluid'>
  <div class='k-portlet__head k-portlet__head--noborder'>
    <div class='k-portlet__head-label'>
      <h3 class='k-portlet__head-title'>Author Sales</h3>
    </div>
    <div class='k-portlet__head-toolbar'>
      <div class='k-portlet__head-toolbar-wrapper'>
        <div class='dropdown dropdown-inline'>
          <button type='button' class='btn btn-clean btn-sm btn-icon btn-icon-md' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <i class='flaticon-more-1'></i>
          </button>
          <div class='dropdown-menu dropdown-menu-right'>
            <ul class='k-nav'>
              <li class='k-nav__section k-nav__section--first'>
                <span class='k-nav__section-text'>Export Tools</span>
              </li>
              <li class='k-nav__item'>
                <a href='#' class='k-nav__link'>
                  <i class='k-nav__link-icon la la-print'></i>
                  <span class='k-nav__link-text'>Print</span>
                </a>
              </li>
              <li class='k-nav__item'>
                <a href='#' class='k-nav__link'>
                  <i class='k-nav__link-icon la la-copy'></i>
                  <span class='k-nav__link-text'>Copy</span>
                </a>
              </li>
              <li class='k-nav__item'>
                <a href='#' class='k-nav__link'>
                  <i class='k-nav__link-icon la la-file-excel-o'></i>
                  <span class='k-nav__link-text'>Excel</span>
                </a>
              </li>
              <li class='k-nav__item'>
                <a href='#' class='k-nav__link'>
                  <i class='k-nav__link-icon la la-file-text-o'></i>
                  <span class='k-nav__link-text'>CSV</span>
                </a>
              </li>
              <li class='k-nav__item'>
                <a href='#' class='k-nav__link'>
                  <i class='k-nav__link-icon la la-file-pdf-o'></i>
                  <span class='k-nav__link-text'>PDF</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='k-portlet__body k-portlet__body--fluid'>
    <div class='k-widget-19'>
      <div class='k-widget-19__title'>
        <div class='k-widget-19__label'><small>$</small>64M</div>
        <img class='k-widget-19__bg' src='{% static 'media/misc/iconbox_bg.png' %}' alt='bg' />
      </div>
      <div class='k-widget-19__data'>

        <!--Doc: For the chart bars you can use state helper classes: k-bg-success, k-bg-info, k-bg-danger. Refer: components/custom/colors.html -->
        <div class='k-widget-19__chart'>
          <div class='k-widget-19__bar'>
            <div class='k-widget-19__bar-45' data-toggle='k-tooltip' data-skin='brand' data-placement='top' title='45'></div>
          </div>
          <div class='k-widget-19__bar'>
            <div class='k-widget-19__bar-95' data-toggle='k-tooltip' data-skin='brand' data-placement='top' title='95'></div>
          </div>
          <div class='k-widget-19__bar'>
            <div class='k-widget-19__bar-63' data-toggle='k-tooltip' data-skin='brand' data-placement='top' title='63'></div>
          </div>
          <div class='k-widget-19__bar'>
            <div class='k-widget-19__bar-11' data-toggle='k-tooltip' data-skin='brand' data-placement='top' title='11'></div>
          </div>
          <div class='k-widget-19__bar'>
            <div class='k-widget-19__bar-46' data-toggle='k-tooltip' data-skin='brand' data-placement='top' title='46'></div>
          </div>
          <div class='k-widget-19__bar'>
            <div class='k-widget-19__bar-88' data-toggle='k-tooltip' data-skin='brand' data-placement='top' title='88'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end::Portlet-->
