{% load static %}

<!--begin::Portlet-->
<div class='k-portlet k-portlet--height-fluid'>
  <div class='k-portlet__head'>
    <div class='k-portlet__head-label'>
      <h3 class='k-portlet__head-title'>Latest Uploads</h3>
    </div>
    <div class='k-portlet__head-toolbar'>
      <div class='k-portlet__head-actions'>
        <a href='#' class='btn btn-default btn-upper btn-sm btn-bold'>All FILES</a>
      </div>
    </div>
  </div>
  <div class='k-portlet__body k-portlet__body--fit k-portlet__body--fluid'>
    <div class='k-widget-7'>
      <div class='k-widget-7__items'>
        <div class='k-widget-7__item'>
          <div class='k-widget-7__item-pic'>
            <img src='{% static 'media/files/doc.svg' %}' alt='' />
          </div>
          <div class='k-widget-7__item-info'>
            <a href='#' class='k-widget-7__item-title'>
              Keeg Design Reqs
            </a>
            <div class='k-widget-7__item-desc'>
              95 MB
            </div>
          </div>
          <div class='k-widget-7__item-toolbar'>
            <div class='dropdown dropdown-inline'>
              <button type='button' class='btn btn-clean btn-sm btn-icon btn-icon-md' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <i class='flaticon-more-1'></i>
              </button>
              <div class='dropdown-menu dropdown-menu-right'>
                <ul class='k-nav'>
                  <li class='k-nav__section k-nav__section--first'>
                    <span class='k-nav__section-text'>EXPORT TOOLS</span>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-eye'></i>
                      <span class='k-nav__link-text'>View</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-comment-o'></i>
                      <span class='k-nav__link-text'>Coments</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-copy'></i>
                      <span class='k-nav__link-text'>Copy</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-file-excel-o'></i>
                      <span class='k-nav__link-text'>Excel</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='k-widget-7__item'>
          <div class='k-widget-7__item-pic'>
            <img src='{% static 'media/files/pdf.svg' %}' alt='' />
          </div>
          <div class='k-widget-7__item-info'>
            <a href='#' class='k-widget-7__item-title'>
              S.E.R Agreement
            </a>
            <div class='k-widget-7__item-desc'>
              805 MB
            </div>
          </div>
          <div class='k-widget-7__item-toolbar'>
            <div class='dropdown dropdown-inline'>
              <button type='button' class='btn btn-clean btn-sm btn-icon btn-icon-md' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <i class='flaticon-more-1'></i>
              </button>
              <div class='dropdown-menu dropdown-menu-right'>
                <ul class='k-nav'>
                  <li class='k-nav__section k-nav__section--first'>
                    <span class='k-nav__section-text'>EXPORT TOOLS</span>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-eye'></i>
                      <span class='k-nav__link-text'>View</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-comment-o'></i>
                      <span class='k-nav__link-text'>Coments</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-copy'></i>
                      <span class='k-nav__link-text'>Copy</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-file-excel-o'></i>
                      <span class='k-nav__link-text'>Excel</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='k-widget-7__item'>
          <div class='k-widget-7__item-pic'>
            <img src='{% static 'media/files/jpg.svg' %}' alt='' />
          </div>
          <div class='k-widget-7__item-info'>
            <a href='#' class='k-widget-7__item-title'>
              FlyMore Screenshot
            </a>
            <div class='k-widget-7__item-desc'>
              4 MB
            </div>
          </div>
          <div class='k-widget-7__item-toolbar'>
            <div class='dropdown dropdown-inline'>
              <button type='button' class='btn btn-clean btn-sm btn-icon btn-icon-md' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <i class='flaticon-more-1'></i>
              </button>
              <div class='dropdown-menu dropdown-menu-right'>
                <ul class='k-nav'>
                  <li class='k-nav__section k-nav__section--first'>
                    <span class='k-nav__section-text'>EXPORT TOOLS</span>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-eye'></i>
                      <span class='k-nav__link-text'>View</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-comment-o'></i>
                      <span class='k-nav__link-text'>Coments</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-copy'></i>
                      <span class='k-nav__link-text'>Copy</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-file-excel-o'></i>
                      <span class='k-nav__link-text'>Excel</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='k-widget-7__item'>
          <div class='k-widget-7__item-pic'>
            <img src='{% static 'media/files/zip.svg' %}' alt='' />
          </div>
          <div class='k-widget-7__item-info'>
            <a href='#' class='k-widget-7__item-title'>
              ST.11 Dacuments
            </a>
            <div class='k-widget-7__item-desc'>
              Unknown
            </div>
          </div>
          <div class='k-widget-7__item-toolbar'>
            <div class='dropdown dropdown-inline'>
              <button type='button' class='btn btn-clean btn-sm btn-icon btn-icon-md' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <i class='flaticon-more-1'></i>
              </button>
              <div class='dropdown-menu dropdown-menu-right'>
                <ul class='k-nav'>
                  <li class='k-nav__section k-nav__section--first'>
                    <span class='k-nav__section-text'>EXPORT TOOLS</span>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-eye'></i>
                      <span class='k-nav__link-text'>View</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-comment-o'></i>
                      <span class='k-nav__link-text'>Coments</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-copy'></i>
                      <span class='k-nav__link-text'>Copy</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-file-excel-o'></i>
                      <span class='k-nav__link-text'>Excel</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='k-widget-7__item'>
          <div class='k-widget-7__item-pic'>
            <img src='{% static 'media/files/xml.svg' %}' alt='' />
          </div>
          <div class='k-widget-7__item-info'>
            <a href='#' class='k-widget-7__item-title'>
              XML AOL Data Fetchin
            </a>
            <div class='k-widget-7__item-desc'>
              4 MB
            </div>
          </div>
          <div class='k-widget-7__item-toolbar'>
            <div class='dropdown dropdown-inline'>
              <button type='button' class='btn btn-clean btn-sm btn-icon btn-icon-md' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <i class='flaticon-more-1'></i>
              </button>
              <div class='dropdown-menu dropdown-menu-right'>
                <ul class='k-nav'>
                  <li class='k-nav__section k-nav__section--first'>
                    <span class='k-nav__section-text'>EXPORT TOOLS</span>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-eye'></i>
                      <span class='k-nav__link-text'>View</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-comment-o'></i>
                      <span class='k-nav__link-text'>Coments</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-copy'></i>
                      <span class='k-nav__link-text'>Copy</span>
                    </a>
                  </li>
                  <li class='k-nav__item'>
                    <a href='#' class='k-nav__link'>
                      <i class='k-nav__link-icon la la-file-excel-o'></i>
                      <span class='k-nav__link-text'>Excel</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='k-widget-7__foot'>
        <img src='{% static 'media/misc/clouds.png' %}' alt='' />
        <div class='k-widget-7__upload'>
          <a href='#'><i class='flaticon-upload'></i></a>
          <span>Drag files here</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end::Portlet-->
