{% load static %}

<!--begin::Portlet-->
<div class='k-portlet k-portlet--height-fluid-half k-widget-14'>
  <div class='k-portlet__body'>

    <!-- Doc: The bootstrap carousel is a slideshow for cycling through a series of content, see https://getbootstrap.com/docs/4.1/components/carousel/ -->
    <div id='k-widget-slider-14-1' class='k-slider carousel slide' data-ride='carousel' data-interval='8000'>
      <div class='k-slider__head'>
        <div class='k-slider__label'>New Products</div>
        <div class='k-slider__nav'>
          <a class='k-slider__nav-prev carousel-control-prev' href='#k-widget-slider-14-1' role='button' data-slide='prev'>
            <i class='fa fa-angle-left'></i>
          </a>
          <a class='k-slider__nav-next carousel-control-next' href='#k-widget-slider-14-1' role='button' data-slide='next'>
            <i class='fa fa-angle-right'></i>
          </a>
        </div>
      </div>
      <div class='carousel-inner'>
        <div class='carousel-item active'>
          <div class='k-widget-14__body'>
            <div class='k-widget-14__product'>
              <div class='k-widget-14__thumb'>
                <a href='#'><img src='{% static 'media/blog/1.jpg' %}' class='k-widget-14__image--landscape' alt='' title='' /></a>
              </div>
              <div class='k-widget-14__content'>
                <a href='#'>
                  <h3 class='k-widget-14__title'>Active Smartwatch</h3>
                </a>
                <div class='k-widget-14__desc'>
                  Beautifully designed watch that helps you track your fitness and diet – while keeping you motivated!
                </div>
              </div>
            </div>
            <div class='k-widget-14__data'>
              <div class='k-widget-14__info'>
                <div class='k-widget-14__info-title k-font-brand'>246</div>
                <div class='k-widget-14__desc'>Purchases</div>
              </div>
              <div class='k-widget-14__info'>
                <div class='k-widget-14__info-title'>37</div>
                <div class='k-widget-14__desc'>Reviews</div>
              </div>
            </div>
          </div>
          <div class='k-widget-14__foot'>
            <div class='k-widget-14__foot-info'>
              <div class='k-widget-14__foot-label btn btn-sm btn-label-brand btn-bold'>
                24 Nov, 2018
              </div>
              <div class='k-widget-14__foot-desc'>Date of Release</div>
            </div>
            <div class='k-widget-14__foot-toolbar'>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Preview</a>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Details</a>
            </div>
          </div>
        </div>
        <div class='carousel-item'>
          <div class='k-widget-14__body'>
            <div class='k-widget-14__product'>
              <div class='k-widget-14__thumb'>
                <a href='#'><img src='{% static 'media/blog/2.jpg' %}' class='k-widget-14__image--landscape' alt='' title='' /></a>
              </div>
              <div class='k-widget-14__content'>
                <a href='#'>
                  <h3 class='k-widget-14__title'>DSLR Lens</h3>
                </a>
                <div class='k-widget-14__desc'>
                  Wide-angle, Quick Focus. Emphasis is on modern lenses for 35 mm film SLRs and for DSLRs with sensor sizes less than or equal to 35 mm.
                </div>
              </div>
            </div>
            <div class='k-widget-14__data'>
              <div class='k-widget-14__info'>
                <div class='k-widget-14__info-title k-font-brand'>142</div>
                <div class='k-widget-14__desc'>Purchases</div>
              </div>
              <div class='k-widget-14__info'>
                <div class='k-widget-14__info-title'>25</div>
                <div class='k-widget-14__desc'>Reviews</div>
              </div>
            </div>
          </div>
          <div class='k-widget-14__foot'>
            <div class='k-widget-14__foot-info'>
              <div class='k-widget-14__foot-label btn btn-sm btn-label-brand btn-bold'>
                24 Nov, 2018
              </div>
              <div class='k-widget-14__foot-desc'>Date of Release</div>
            </div>
            <div class='k-widget-14__foot-toolbar'>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Preview</a>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Details</a>
            </div>
          </div>
        </div>
        <div class='carousel-item'>
          <div class='k-widget-14__body'>
            <div class='k-widget-14__product'>
              <div class='k-widget-14__thumb'>
                <a href='#'><img src='{% static 'media/blog/4.jpg' %}' class='k-widget-14__image--landscape' alt='' title='' /></a>
              </div>
              <div class='k-widget-14__content'>
                <a href='#'>
                  <h3 class='k-widget-14__title'>Polaroid Camera</h3>
                </a>
                <div class='k-widget-14__desc'>
                  Instant is back! Make photos fun again with the new range of Polaroid Instant Cameras with Vintage Effects and Built in Flash
                </div>
              </div>
            </div>
            <div class='k-widget-14__data'>
              <div class='k-widget-14__info'>
                <div class='k-widget-14__info-title k-font-brand'>3578</div>
                <div class='k-widget-14__desc'>Purchases</div>
              </div>
              <div class='k-widget-14__info'>
                <div class='k-widget-14__info-title'>457</div>
                <div class='k-widget-14__desc'>Reviews</div>
              </div>
            </div>
          </div>
          <div class='k-widget-14__foot'>
            <div class='k-widget-14__foot-info'>
              <div class='k-widget-14__foot-label btn btn-sm btn-label-brand btn-bold'>
                24 Nov, 2018
              </div>
              <div class='k-widget-14__foot-desc'>Date of Release</div>
            </div>
            <div class='k-widget-14__foot-toolbar'>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Preview</a>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end::Portlet-->
