{% load static %}

<!--begin::Portlet-->
<div class='k-portlet k-portlet--height-fluid-half k-widget-15'>
  <div class='k-portlet__body'>

    <!-- Doc: The bootstrap carousel is a slideshow for cycling through a series of content, see https://getbootstrap.com/docs/4.1/components/carousel/ -->
    <div id='k-widget-slider-14-2' class='k-slider carousel slide' data-ride='carousel' data-interval='8000'>
      <div class='k-slider__head'>
        <div class='k-slider__label'>New Authors</div>
        <div class='k-slider__nav'>
          <a class='k-slider__nav-prev carousel-control-prev' href='#k-widget-slider-14-2' role='button' data-slide='prev'>
            <i class='fa fa-angle-left'></i>
          </a>
          <a class='k-slider__nav-next carousel-control-next' href='#k-widget-slider-14-2' role='button' data-slide='next'>
            <i class='fa fa-angle-right'></i>
          </a>
        </div>
      </div>
      <div class='carousel-inner'>
        <div class='carousel-item active'>
          <div class='k-widget-15__body'>
            <div class='k-widget-15__author'>
              <div class='k-widget-15__photo'>
                <a href='#'><img src='{% static 'media/users/100_14.jpg' %}' alt='' title='' /></a>
              </div>
              <div class='k-widget-15__detail'>
                <a href='#' class='k-widget-15__name'>Andy John</a>
                <div class='k-widget-15__desc'>
                  AngularJS Expert
                </div>
              </div>
            </div>
            <div class='k-widget-15__wrapper'>
              <div class='k-widget-15__info'>
                <a href='#' class='btn btn-icon btn-sm btn-circle btn-success'><i class='fa fa-envelope'></i></a>
                <a href='#' class='k-widget-15__info--item'>sale@boatline.com</a>
              </div>
              <div class='k-widget-15__info'>
                <a href='#' class='btn btn-icon btn-sm btn-circle btn-brand'><i class='fa fa-phone'></i></a>
                <a href='#' class='k-widget-15__info--item'>(+44) 345 345 4705</a>
              </div>
            </div>
          </div>
          <div class='k-widget-15__foot'>
            <div class='k-widget-15__foot-info'>
              <div class='k-widget-15__foot-label btn btn-sm btn-label-brand btn-bold'>
                01 Sep, 2018
              </div>
              <div class='k-widget-15__foot-desc'>Joined Date</div>
            </div>
            <div class='k-widget-15__foot-toolbar'>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Message</a>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Profile</a>
            </div>
          </div>
        </div>
        <div class='carousel-item'>
          <div class='k-widget-15__body'>
            <div class='k-widget-15__author'>
              <div class='k-widget-15__photo'>
                <a href='#'><img src='{% static 'media/users/100_3.jpg' %}' alt='' title='' /></a>
              </div>
              <div class='k-widget-15__detail'>
                <a href='#' class='k-widget-15__name'>Patrick Smith</a>
                <div class='k-widget-15__desc'>
                  ReactJS Expert
                </div>
              </div>
            </div>
            <div class='k-widget-15__wrapper'>
              <div class='k-widget-15__info'>
                <a href='#' class='btn btn-icon btn-sm btn-circle btn-success'><i class='fa fa-envelope'></i></a>
                <a href='#' class='k-widget-15__info--item'>patrick@boatline.com</a>
              </div>
              <div class='k-widget-15__info'>
                <a href='#' class='btn btn-icon btn-sm btn-circle btn-brand'><i class='fa fa-phone'></i></a>
                <a href='#' class='k-widget-15__info--item'>(+44) 345 345 5574</a>
              </div>
            </div>
          </div>
          <div class='k-widget-15__foot'>
            <div class='k-widget-15__foot-info'>
              <div class='k-widget-15__foot-label btn btn-sm btn-label-brand btn-bold'>
                01 Sep, 2018
              </div>
              <div class='k-widget-15__foot-desc'>Joined Date</div>
            </div>
            <div class='k-widget-15__foot-toolbar'>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Message</a>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Profile</a>
            </div>
          </div>
        </div>
        <div class='carousel-item'>
          <div class='k-widget-15__body'>
            <div class='k-widget-15__author'>
              <div class='k-widget-15__photo'>
                <a href='#'><img src='{% static 'media/users/100_7.jpg' %}' alt='' title='' /></a>
              </div>
              <div class='k-widget-15__detail'>
                <a href='#' class='k-widget-15__name'>Amanda Collin</a>
                <div class='k-widget-15__desc'>
                  Project Manager
                </div>
              </div>
            </div>
            <div class='k-widget-15__wrapper'>
              <div class='k-widget-15__info'>
                <a href='#' class='btn btn-icon btn-sm btn-circle btn-success'><i class='fa fa-envelope'></i></a>
                <a href='#' class='k-widget-15__info--item'>amanda@boatline.com</a>
              </div>
              <div class='k-widget-15__info'>
                <a href='#' class='btn btn-icon btn-sm btn-circle btn-brand'><i class='fa fa-phone'></i></a>
                <a href='#' class='k-widget-15__info--item'>(+44) 345 345 1247</a>
              </div>
            </div>
          </div>
          <div class='k-widget-15__foot'>
            <div class='k-widget-15__foot-info'>
              <div class='k-widget-15__foot-label btn btn-sm btn-label-brand btn-bold'>
                01 Sep, 2018
              </div>
              <div class='k-widget-15__foot-desc'>Joined Date</div>
            </div>
            <div class='k-widget-15__foot-toolbar'>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Message</a>
              <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end::Portlet-->
