{% load static %}

<!--begin::Portlet-->
<div class='k-portlet k-portlet--height-fluid k-portlet--tabs'>
  <div class='k-portlet__head'>
    <div class='k-portlet__head-label'>
      <h3 class='k-portlet__head-title'>
        Latest Tasks
      </h3>
    </div>
    <div class='k-portlet__head-toolbar'>
      <ul class='nav nav-tabs nav-tabs-line nav-tabs-line-brand nav-tabs-bold' role='tablist'>
        <li class='nav-item'>
          <a class='nav-link active show' data-toggle='tab' href='#k_portlet_tabs_1_1_content' role='tab' aria-selected='false'>
            Today
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' data-toggle='tab' href='#k_portlet_tabs_1_2_content' role='tab' aria-selected='false'>
            Week
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' data-toggle='tab' href='#k_portlet_tabs_1_3_content' role='tab' aria-selected='true'>
            Month
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='k-portlet__body'>
    <div class='tab-content'>
      <div class='tab-pane fade active show' id='k_portlet_tabs_1_1_content' role='tabpanel'>
        <div class='k-widget-5'>
          <div class='k-widget-5__item k-widget-5__item--info'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Management meeting
              </a>
              <div class='k-widget-5__item-datetime'>
                09:30 AM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--danger'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Replace datatables rows color
              </a>
              <div class='k-widget-5__item-datetime'>
                12:00 AM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--brand'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Export Navitare booking table
              </a>
              <div class='k-widget-5__item-datetime'>
                01:20 PM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--success'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                NYCS internal discussion
              </a>
              <div class='k-widget-5__item-datetime'>
                03: 00 PM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--danger'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Project Launch
              </a>
              <div class='k-widget-5__item-datetime'>
                11: 00 AM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--success'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Server maintenance
              </a>
              <div class='k-widget-5__item-datetime'>
                4: 30 PM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class='tab-pane fade' id='k_portlet_tabs_1_2_content' role='tabpanel'>
        <div class='k-widget-5'>
          <div class='k-widget-5__item k-widget-5__item--brand'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Export Navitare booking table
              </a>
              <div class='k-widget-5__item-datetime'>
                01:20 PM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--danger'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Replace datatables rows color
              </a>
              <div class='k-widget-5__item-datetime'>
                12:00 AM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--brand'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Export Navitare booking table
              </a>
              <div class='k-widget-5__item-datetime'>
                01:20 PM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--danger'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Replace datatables rows color
              </a>
              <div class='k-widget-5__item-datetime'>
                12:00 AM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--success'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                NYCS internal discussion
              </a>
              <div class='k-widget-5__item-datetime '>
                03: 00 PM
              </div>
            </div>
            <div class='k-widget-5__item-check '>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--info '>
            <div class='k-widget-5__item-info '>
              <a href='#' class='k-widget-5__item-title'>
                Management meeting
              </a>
              <div class='k-widget-5__item-datetime '>
                09:30 AM
              </div>
            </div>
            <div class='k-widget-5__item-check '>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class='tab-pane fade ' id='k_portlet_tabs_1_3_content' role='tabpanel'>
        <div class='k-widget-5 '>
          <div class='k-widget-5__item k-widget-5__item--success'>
            <div class='k-widget-5__item-info '>
              <a href='#' class='k-widget-5__item-title'>
                NYCS internal discussion
              </a>
              <div class='k-widget-5__item-datetime'>
                03: 00 PM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--danger'>
            <div class='k-widget-5__item-info '>
              <a href='#' class='k-widget-5__item-title'>
                Replace datatables rows color
              </a>
              <div class='k-widget-5__item-datetime'>
                12:00 AM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--danger'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Replace datatables rows color
              </a>
              <div class='k-widget-5__item-datetime'>
                12:00 AM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--brand'>
            <div class='k-widget-5__item-info'>
              <a href='#' class='k-widget-5__item-title'>
                Export Navitare booking table
              </a>
              <div class='k-widget-5__item-datetime'>
                01:20 PM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--brand'>
            <div class='k-widget-5__item-info '>
              <a href='#' class='k-widget-5__item-title'>
                Export Navitare booking table
              </a>
              <div class='k-widget-5__item-datetime '>
                01:20 PM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
          <div class='k-widget-5__item k-widget-5__item--info'>
            <div class='k-widget-5__item-info '>
              <a href='#' class='k-widget-5__item-title'>
                Management meeting
              </a>
              <div class='k-widget-5__item-datetime'>
                09:30 AM
              </div>
            </div>
            <div class='k-widget-5__item-check'>
              <label class='k-radio'>
                <input type='radio' checked='checked' name='radio1'>
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end::Portlet-->
