{% load static %}

<!--begin::Portlet-->
<div class='k-portlet k-portlet--height-fluid k-widget-13'>
  <div class='k-portlet__body'>
    <div id='k-widget-slider-13-3' class='k-slider carousel slide' data-ride='carousel' data-interval='12000'>
      <div class='k-slider__head'>
        <div class='k-slider__label'>Today's Schedule</div>
        <div class='k-slider__nav'>
          <a class='k-slider__nav-prev carousel-control-prev' href='#k-widget-slider-13-3' role='button' data-slide='prev'>
            <i class='fa fa-angle-left'></i>
          </a>
          <a class='k-slider__nav-next carousel-control-next' href='#k-widget-slider-13-3' role='button' data-slide='next'>
            <i class='fa fa-angle-right'></i>
          </a>
        </div>
      </div>
      <div class='carousel-inner'>
        <div class='carousel-item active k-slider__body'>
          <div class='k-widget-13'>
            <div class='k-widget-13__body'>
              <a class='k-widget-13__title' href='#'>Octa Pre-Launch Meeting</a>
              <div class='k-widget-13__desc k-widget-13__desc--xl k-font-brand'>
                9:20AM - 10:00AM
              </div>
            </div>
            <div class='k-widget-13__foot'>
              <div class='k-widget-13__label'>
                <i class='fa fa-map-marker-alt k-label-font-color-2'></i>
                <span class='k-label-font-color-2'>490 E Main St. Norwich...</span>
              </div>
              <div class='k-widget-13__toolbar'>
                <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>View Map</a>
              </div>
            </div>
          </div>
        </div>
        <div class='carousel-item k-slider__body'>
          <div class='k-widget-13'>
            <div class='k-widget-13__body'>
              <a class='k-widget-13__title' href='#'>UI/UX Design Updates</a>
              <div class='k-widget-13__desc k-widget-13__desc--xl k-font-brand'>
                11:15AM - 12:30PM
              </div>
            </div>
            <div class='k-widget-13__foot'>
              <div class='k-widget-13__label'>
                <i class='fa fa-map-marker-alt k-label-font-color-2'></i>
                <span class='k-label-font-color-2'>246 R St. Manhattan NY...</span>
              </div>
              <div class='k-widget-13__toolbar'>
                <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>View Map</a>
              </div>
            </div>
          </div>
        </div>
        <div class='carousel-item k-slider__body'>
          <div class='k-widget-13'>
            <div class='k-widget-13__body'>
              <a class='k-widget-13__title' href='#'>Sales Report Summary Meet-up</a>
              <div class='k-widget-13__desc k-widget-13__desc--xl k-font-brand'>
                4:30PM - 5:30PM
              </div>
            </div>
            <div class='k-widget-13__foot'>
              <div class='k-widget-13__label'>
                <i class='fa fa-map-marker-alt k-label-font-color-2'></i>
                <span class='k-label-font-color-2'>492 F Sub St. Norwich CT...</span>
              </div>
              <div class='k-widget-13__toolbar'>
                <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>View Map</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end::Portlet-->
