{% load static %}

<!-- begin:: Sub-header -->
<div id='k_sub_header' class='k-sub-header k-grid__item '>

  <!-- begin:: Sub-header Title -->
  <div class='k-sub-header__title'>
    <button class='k-sub-header__toggler k-sub-header__toggler--left' id='k_aside_toggler'><span></span></button>
    <div class='k-sub-header__breadcrumbs'>
      <a href='' class='k-sub-header__breadcrumbs-link k-sub-header__breadcrumbs-link--home'>Body Calcs</a>
      <span class='k-sub-header__breadcrumbs-separator'></span>
      <a href='' class='k-sub-header__breadcrumbs-link '>Default</a>
    </div>
  </div>

  <!-- end:: Sub-header Title -->

  <!-- begin:: Sub-header toolbar -->
  <div class='k-sub-header__toolbar'>
    <div class='k-sub-header__toolbar-wrapper'>
      <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Create</a>
      <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Update</a>
      <a href='#' class='btn btn-default btn-sm btn-bold btn-upper'>Settings</a>
    </div>
  </div>

  <!-- end:: Sub-header toolbar -->
</div>

<!-- end:: Sub-header -->
