<!-- begin:: Footer -->
<div class="k-footer k-grid__item" id="k_footer">
  <div class="k-footer__copyright">
    2019&nbsp;&copy;&nbsp;<a href="https://bodycalc.io" target="_blank" class="k-link">Bodycalc.io</a>
  </div>
  <div class="k-footer__menu">
    <a href="#" target="_blank" class="k-link">About</a>
    <a href="#" target="_blank" class="k-link">Team</a>
    <a href="#" target="_blank" class="k-link">Contact</a>
  </div>
</div>

<!-- end:: Footer -->

<!-- begin::Scrolltop -->
<div id='k_scrolltop' class='k-scrolltop'>
  <i class='la la-arrow-up'></i>
</div>
<!-- end::Scrolltop -->
