{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block body %}
  <!-- begin:: Page -->
  <div class='k-grid__item k-grid__item--fluid k-grid k-grid--ver k-grid--stretch'>
    <div class='k-content-wrapper k-content-wrapper--fixed  k-grid__item k-grid__item--fluid k-grid k-grid--ver'>
      <!-- begin:: Content -->
      <div class='k-content k-grid__item k-grid__item--fluid' id='k_content'>
        <!--begin::Dashboard -->
        <div class='row'>
          <div class="col-lg-12 col-xl-8 order-lg-1 order-xl-1">
            {% include 'dashboard/widgets/body-mass-index.html' %}
          </div>
        </div>

        <div class='row'>
          <div class='col-lg-6 col-xl-4 order-lg-1 order-xl-1'>
            {% include 'dashboard/widgets/weight.html' %}
          </div>
          <div class='col-lg-6 col-xl-4 order-lg-1 order-xl-1'>
            {% include 'dashboard/widgets/macros.html' %}
          </div>
        </div>

        <div class='row'>
          <div class='col-lg-6 col-xl-4 order-lg-1 order-xl-1'>
            {% include 'dashboard/widgets/calories.html' %}
          </div>
          <div class='col-lg-6 col-xl-4 order-lg-1 order-xl-1'>
            {% include 'dashboard/widgets/top-foods.html' %}
          </div>
        </div>


        <!--end::Dashboard 1-->
      </div>
      <!-- end:: Content -->
    </div>
  </div>
  <!-- end:: Page -->
{% endblock %}
