{% load static %}
<!-- {% load pipeline %} -->

<!-- begin:: Topbar Offcanvas Panels -->

  {% include 'dashboard/toolbar/offcanvas-toolbar-search.html' %}
  {% include 'dashboard/toolbar/offcanvas-toolbar-notifications.html' %}
  {% include 'dashboard/toolbar/offcanvas-toolbar-quickactions.html' %}
  {% include 'dashboard/toolbar/offcanvas-toolbar-profile.html' %}
  {% include 'dashboard/toolbar/offcanvas-toolbar-quickpanel.html' %}

<!-- end:: Topbar Offcanvas Panels -->

{% include 'dashboard/header/menu.html' %}
{% include 'dashboard/header/topbar.html' %}
{% include 'dashboard/header/subheader.html' %}
